<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>User Profiles</h1>

    {% if user_profiles %}
        <table border="1">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>City</th>
                <th>Country</th>
                <th>Phone Number</th>
                <th>Employee ID</th>
                <th>Hire Date</th>
                <th>Position</th>
                <th>Work Location</th>
                <th>Work Mode</th>
                <th>Emergency Contact</th>
                <th>Education Degree</th>
            </tr>
            {% for profile in user_profiles %}
            <tr>
                <td>{{ profile.first_name  }}</td>
                <td>{{ profile.last_name }}</td>
                <td>{{ profile.email }}</td>
                <td>{{ profile.address }}</td>
                <td>{{ profile.city }}</td>
                <td>{{ profile.country }}</td>
                <td>{{ profile.phone_number }}</td>
                <td>{{ profile.employee_id }}</td>
                <td>{{ profile.hire_date }}</td>
                <td>{{ profile.position }}</td>
                <td>{{ profile.work_location }}</td>
                <td>{{ profile.work_mode }}</td>
                <td>{{ profile.emergency_contact_name }}: {{ profile.emergency_contact_phone }}</td>
                <td>{{ profile.education_degree }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No user profiles found.</p>
    {% endif %}

    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>
